


body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Handling header information */
.header {
    display: flex;
    justify-content: space-between;


    margin: none;
    width: 100%;
    align-items: center;
    height: 5%;
    background-color: black;
    color: white;
    position: fixed;
}

.header-right,
.header-left {
    width: 50%;
    display: flex;
}

.header-right {
    justify-content: right;
    text-align: right;
    align-items: right;

    padding-right: 50px;
}


.header p {
    margin: 0;
}


#scoresurge {
    font-size: 24px;
}

#settings-btn,
#menu-btn {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
}

/* Changing the menu icon from black to white */
#settings-icon,
#menu-icon {
    filter: invert(1);
}

/* -=-=-=-=-=-=-=- */


/* Side nav section */
.sidenav {
    position: fixed;
    top: 5%;
    height: 100%;
    width: 15%;
    background-color: bisque;

    display: flex;
    flex-direction: column;
}

/* The items in the navbar */
.dropdown,
.sidenav a {
    flex: 0 0 5%; 
    text-align: center;
    line-height: 8vh; 

    font-size: 18px;
    
    
    background-color: #f1f1f1; 
    color: black; 
    
    padding: 0; 
    margin: 0; 
    
    text-decoration: none; 
    border-bottom: 1px solid #ccc; 
}

/* don't touch, it works */
.dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;

    
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease; 
}



.dropdown-content a {
    flex: 0 0 5%;
    line-height: 3vh;
    
    text-align: left;
    
    padding-left: 50px;
    font-size: 16px;
    border: none;
}


.dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-toggle {
    display: flex;

    align-items: center;
    justify-content: space-between; 

    /* These !importants feel weird now */
    padding-left: 40px !important;
    padding-right: 20px !important;

    cursor: pointer;
    
    border: none !important;
}

/* Dropdown Arrow css: */
.dropdown-toggle img {
    background: url("../icons/chevron-right.svg");
    background-size: contain;

    width: 16px;
    height: 16px;


    transform: rotate(0deg);
    transition: transform 0.3s ease;
}


.dropdown.active .dropdown-toggle img {
    transform: rotate(90deg); 
}

/* The "Classes" or "Notes" text heading: */
#dropdown-toggle-header {
    margin-left: 15px !important;
    text-align: left;
    flex-grow: 1;
}


/* Dropdown plus icon css: */
.dropdown-toggle #add-btn {
    background: url("../icons/plus.svg");
    background-size: contain;
    cursor: pointer;

    width: 16px;
    height: 16px;

    /* Weird button jank */
    border: none;
}

.dropdown-toggle #add-btn:hover {
    background-color: #ddd;
}

.dropdown-toggle form, p {
    margin: 0;
}



/* Expand dropdown with transition */
.dropdown.active .dropdown-content {
    max-height: 300px; /* Adjust to fit content size */
    display: flex;
}


#class-icon {
    padding-right: 5px;
    width: 15px;
    height: 15px;
}


/* MODAL CODE */
.modal {
    /* Becuase of its size, it has to be block */
    display: none;
    
    position: fixed;
    /* making sure it's on top of all */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;

    /* this gives it the "focus" look */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  CONTENT STUFF */

.content {
    margin-left: 15%; /* Adjusts content to the right of the sidebar */
    padding: 20px;
    padding-top: 50px;
}