


body {
    margin: 0;
    font-family: "Roboto", sans-serif; 
}



body::-webkit-scrollbar {
    display: none;
}


/* Handling header information */
.header {
    display: flex;
    justify-content: space-between;


    margin: none;
    width: 100%;
    align-items: center;
    height: 75px;
    background-color: #3FA34D;
    color: white;
    position: fixed;
}

.header-right,
.header-left {
    width: 50%;
    display: flex;
}

.header-right {
    justify-content: right;
    text-align: right;
    align-items: right;

    padding-right: 50px;
}


.header p {
    margin: 0;
}


#scoresurge {
    font-size: 24px;
}

#settings-btn,
#menu-btn {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
}

/* Changing the menu icon from black to white */
#settings-icon,
#menu-icon {
    filter: invert(1);
}

/* -=-=-=-=-=-=-=- */
/* Side nav section */
.sidenav {
    position: fixed;
    top: 75px;
    height: 100%;
    width: 15%;
    background-color: #E7ECEF;
    border-right: 1px solid #272932;

    display: flex;
    flex-direction: column;
}

/* The items in the navbar */
.dropdown,
.sidenav a {
    flex: 0 0 5%; 
    text-align: center;
    line-height: 8vh; 

    font-size: 18px;
    
    
    background-color: #E7ECEF; 
    color: black; 
    
    padding: 0; 
    margin: 0; 
    
    text-decoration: none; 
    border-bottom: 1px solid #c7cace; 
}

/* don't touch, it works */
.dropdown .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;

    
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease; 
}


.dropdown-content a {
    display: flex;
    line-height: 4vh;
    font-size: 16px;
    
    align-items: center;
    justify-content: space-between; 
    
    padding-left: 50px;
    padding-right: 50px;
    
    cursor: pointer;

    border: none;
}

.dropdown-content form {
    align-items: center;
    margin: 0;
}

.dropdown-content a #remove-class-button {
    background: url("../icons/trash-2.svg");
    text-align: right;
    background-size: contain;
    cursor: pointer;

    width: 16px;
    height: 16px;

    /* Weird button jank */
    border: none;
}

#class-header {
    margin-left: 10px !important;
    text-align: left;
    flex-grow: 1;
}

.dropdown .dropdown-content a:hover {
    background-color: #cfd8dd;
}

.dropdown-toggle {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: space-between; 

    /* These !importants feel weird now */
    padding-left: 40px !important;
    padding-right: 20px !important;

    cursor: pointer;
    
    border: none !important;
}

/* Dropdown Arrow css: */
.dropdown-toggle img {
    background: url("../icons/chevron-right.svg");
    background-size: contain;

    width: 16px;
    height: 16px;

    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.dropdown-toggle::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    /* Have width 0 for transition */
    width: 0; 
    border-bottom: 2px solid #c7cace ;

    transition: width 0.3s ease; 
}

.dropdown.active .dropdown-toggle img {
    transform: rotate(90deg); 
}

.dropdown.active .dropdown-toggle::after {
    width: 35%;
}

/* The "Classes" or "Notes" text heading: */
#dropdown-toggle-header {
    margin-left: 15px !important;
    text-align: left;
    flex-grow: 1;
}


/* Dropdown plus icon css: */
.dropdown-toggle #add-btn {
    background: url("../icons/plus.svg") no-repeat center;
    background-size: 16px 16px;

    background-color: #cfd8dd;
    border-radius: 50%;

    cursor: pointer;
    
    width: 24px;
    height: 24px;

    /* Weird button jank */
    border: none;
}

.dropdown-toggle #add-btn:hover {
    background-color: #ddd;
}

.dropdown-toggle form, p {
    margin: 0;
}


/* Expand dropdown with transition */
.dropdown.active .dropdown-content {
    max-height: 300px; /* Adjust to fit content size */
    display: flex;
}


#class-icon {
    padding-right: 5px;
    width: 15px;
    height: 15px;
}


/* MODAL CODE */
.modal {
    /* Becuase of its size, it has to be block */
    display: none;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    /* making sure it's on top of all */
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;

    /* this gives it the "focus" look */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15%; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  CONTENT STUFF */

.content {
    margin-left: 15%; /* Adjusts content to the right of the sidebar */
    padding: 20px;
    padding-top: 75px;
}

.add-class-button {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;

    background: none;

    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;

}

.add-class-button:hover {
    background-color: #e0e3e6;
}

.add-class-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

#grade-semester-1 {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    font-size: 14px;
}