

/* MODAL CSS */

.period-section {
    display: block;
}

.period-section {
    margin-bottom: 10px; 
}

.period-information {
    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
}

.period-information .period-content {
    width: 100%; /* Full width */
    height: auto;
    resize: both; /* Prevent manual resizing */
    box-sizing: border-box;
    overflow: hidden; /* Hide scrollbars */
    min-height: 50px; /* Minimum height */
    padding: 10px; /* Add some padding */
    line-height: 1.5; /* Line height for readability */
}


/*  */

table, tr, th, td, caption {
    border: 1px solid;
}

table {

    /* table-layout: fixed; */
    width: 75%;

}

td:not(#week-row) {
    width: 30% !important;
}

#no-class {
    background-color: rgb(149, 235, 149);
}

#revision-assessment {
    background-color: bisque;
}

#lesson-header {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}