
/* MODAL CSS */
.period-section {
    display: block;
}

.period-section {
    margin-bottom: 10px; 
}

.period-information {
    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
}

.period-information .period-content {

    border: 1px solid grey;
    border-radius: 5px;

    /* width: 100%;
    height: auto;
    resize: both;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 50px;
    padding: 10px;
    line-height: 1.5; */
}

.period-section #period-info-title {
    font-weight: 500;
}

/* CLASS INFORMATION CSS */
.class-info {
    display: flex;

    text-align: center;
    align-items: center;
    vertical-align: middle;

    width: auto;
    height: auto;

    border: 1px solid black;
    border-radius: 10px;

    /* Seperating from the table     */
    margin-bottom: 25px;
}

#class-info-header {
    font-weight: 500;
    font-size: 18px;
}

.class-info div {
    text-align: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black;
}




/* TABLE CSS */

table, tr, th, td, caption {
    border: 1px solid;
}

table {

    /* table-layout: fixed; */
    width: 75%;

}

td:not(#week-row) {
    width: 30% !important;
    vertical-align: top
}

#no-class {
    background-color: rgb(149, 235, 149);
}

#revision-assessment {
    background-color: bisque;
}

#lesson-header {
    text-align: center;
    font-weight: 500;
    text-decoration: underline;
}