
/* MODAL EDIT_GRADES CSS */

.class-grades {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
}

#grades-class-header {
    font-weight: 500;
}

#grade-changer {
    font-weight: 700;
    width: 50px;
    padding: 3px;
    margin-bottom: 5px;
}

#grade-changer:hover {
    outline: none;
}



/* =-=-=--==-=-=-=-=-=-=- */
/* TABLE AND OTHER CSS */
table, tr, th, td, caption {
    border: 1px solid;
}

table {
    width: 50%;
    font-weight: 500;
}

#class-info-header {
    font-weight: 500;
    font-size: 18px;
}

.edit-grades-btn {
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.edit-grades-btn:hover {
    background-color: rgb(231, 231, 231);
    /* border: 1px solid black; */
    border-radius: 5px;
}

#good-grade {
    color: green;
}

#bad-grade {
    color: red;
}