

h1 {
    margin: 0;
    font-size: 22px;
}



/* TOOLBAR SECTION */

.toolbar {
    display: flex;

    border: 1px solid #ddd;
    font-size: 16px;
    color: black; /* Ensure text color is black for regular text */
}

.save-btn {
    border-right: 1px solid grey;
    padding: 10px;
}

#save-icon {
    padding: 0;
    width: 16px;
    height: 16px;
}

.tools {
    padding: 10px;
}

.toolbar button {
    padding: 5px 10px;

    font-size: 16px;
    border: none;
    background-color: white;

    cursor: pointer;
    margin-right: 5px;
    border-radius: 7px;
}

.save-btn button{
    margin: 0 !important;
}

.toolbar button:hover {
    background-color: #ddd;
}

/* When the bold/ */
.toolbar button.active {
    background-color: #ddd;
    padding: 5px 10px;

    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
    
    border: 1px solid grey;
}


.font-selection {
    /* Matching the button stuff */
    padding: 5px 10px;
    font-size: 16px;
}

/* TEXTBOX SECTION */
.textbox-container {
    width: 100%;
    /* This is required for resize */
    position: relative;
}


/* The text editing box */
#editor {
    min-height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: black; 

    /* white-space: pre-wrap;  */

    /* Allows the editor to be change horz. and vert. */
    resize: both;
    box-sizing: border-box;
    overflow: auto;
}
