<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block styles %}{% endblock %}

    <!-- Importing icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <title>ScoreSurge</title>
</head>
<body>
    <div class="header">
        <!-- Splitting the header in 2, elements to co-exist on different sides -->

        <div class="header-left">
            <button type="button" id="menu-btn"><img id="menu-icon" src="{{ url_for('static', filename='icons/menu.svg') }}"></button>

            <p id="scoresurge">ScoreSurge</p>
        </div>

        <div class="header-right">
            <!-- TODO: LOGIN NAME SYSTEM HERE: -->
            <p>{{ username }}</p>
            <button type="button" id="settings-btn"><img id="settings-icon" src="{{ url_for('static', filename='icons/settings.svg') }}"></button>
        </div>
    </div>


    <!-- Modal Code (for text box creating) -->
    <div id="classModal" class="modal">
        <div class="modal-content">

            <span class="close"><img src="{{ url_for('static', filename='icons/x.svg') }}"></span>

            <form id="new-class-form" action="{{ url_for('create_class') }}" method="post">
                <label for="class-name">Name of new class: </label>
                <input type="text" id="class-name" name="class_name" autocomplete="off">
                <button type="submit">Add Class</button>
            </form>
        </div>
    </div>

    <!-- Side bar html -->
    <div class="sidenav">
        <a href="/home">Home</a>
        <a href="#">TimeTable</a>
        <a href="#">Study Tracker</a>
        <a href="#">Grade</a>

        <!-- Allows for the dropdown to be active in notes.html and classes.html -->
        <div class="dropdown {% block class_active %}{% endblock %}">

            <a href="#" class="dropdown-toggle">
                <img src="{{ url_for('static', filename='icons/chevron-right.svg') }}"/>

                <p id="dropdown-toggle-header">Classes</p>

                <button type="submit" id="add-btn"></button>
            </a>


            <div class="dropdown-content">
                <!-- If there are no notes -->
                {% if classes | length < 1 %}
                    <p> you have no notes.</p>

                <!-- Displaying notes -->
                {% else %}
                    {% for class in classes %}

                        <a href="{{ url_for('classes', page_id=class.page_id) }}">
                            <img id="class-icon" src="{{ url_for('static', filename='icons/zap.svg') }}">
                            {{ class.class_name }}
                        </a>

                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="dropdown {% block note_active %}{% endblock %}">

            <a href="#" class="dropdown-toggle">
                <img src="{{ url_for('static', filename='icons/chevron-right.svg') }}"/>

                <p id="dropdown-toggle-header">Notes</p>
            </a>

            <div class="dropdown-content">

                <!-- If there are no notes -->
                {% if notes | length < 1 %}
                    <p> you have no notes.</p>

                <!-- Displaying notes -->
                {% else %}
                    {% for note in notes %}

                        <a href="{{ url_for('notes', page_id=note.page_id) }}">
                            <img id="class-icon" src="{{ url_for('static', filename='icons/zap.svg') }}">
                            {{ note.note_name }}
                        </a>

                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>


    <div class="content">
        {% block content %}{% endblock %}
        
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>