{% extends "base.html" %}

<!-- Importing different css files -->
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}">

{% endblock %}

<!-- Making the notes dropdown active -->
{% block class_active %}active{% endblock %}



{% block more_modals %}

<div id="planner-modal" class="modal">
    <div class="modal-content">

        <div class="close"><img src="{{ url_for('static', filename='icons/x.svg') }}"></div>

        <form id="new-class-form" action="{{ url_for('create_class_planner', page_id=page_id) }}" method="post">

            <label for="classes-input">When do you have the class? Please use this format and in order: "Monday P1 | Tuesday P2 | Wednesday P3"</label>
            <input type="text" id="classes-input" name="days_of_week" autocomplete="off">

            <button type="submit">Make Planner</button>
        </form>
    </div>
</div>


<div id="add-to-planner-modal" class="modal">
    <div class="modal-content">
        <div class="close"><img src="{{ url_for('static', filename='icons/x.svg') }}"></div>


        <form id="planner-add-onto" action="{{ url_for('add_to_class_planner', page_id=page_id) }}" method="post">

            <label for="week-number">Week Number: </label>
            <input type="text" id="week-number" name="week_number" autocomplete="off" required>

            
            <div class="period-section">

                {% set first_period = [] %}
                {% set fake_break = [] %}
                {% for item in schedule %}
                    {% if fake_break[0] != True %}

                        {% if item.day_of_week != None and item.day_of_week != first_period[0] %}
                            <br><p id="period-info-title"> Infomation for {{ item.day_of_week }}: </p>
                    
                            <div class="period-information">
                                <!-- This is to parse into the backend -->
                                <input type="hidden" name="day_of_week[]" value="{{ item.day_of_week }}">
                                
                                <label for="period-header-{{ loop.index }}">Period Title (e.g: Polynomials, Persauive Devices): </label>
                                <input type="text" id="period-header-{{ loop.index }}" name="period-header[]" autocomplete="off" required><br>
                
                                <br><label for="period-content-{{ loop.index }}">Period Content: </label>
                                <!-- <br><input type="text" id="period-content-{{ loop.index }}" class="period-content-{{ loop.index}}" name="period-content[]" autocomplete="off"> -->
                                
                                <div class="period-content" id="period-content-{{ loop.index }}" contenteditable="true" autocomplete="off">
                                    
                                </div>

                                <!-- This is the hidden input that the period-content puts itself in -->
                                <input type="hidden" name="content[]" id="hidden-period-content-{{ loop.index }}">
                            </div>
                        {% else %}
                            {% set _ = fake_break.append(True) %}
                        {% endif %}

                        <!-- First time through -->
                        {% if loop.index == 1 %}
                            {% set _ = first_period.append(item.day_of_week) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}


            </div>

            <button type="submit">Add to planner</button>
        </form>
    </div>
</div>
{% endblock %}



<!-- Content block. -->
{% block content %}
    <!-- 
    Have an information graphic near the top
    which has teacher, class, class type (elective or core subject)
    general or ATAR
    -->

    <p id="class-info-header">
        Class Information:
    </p>
    <div class="class-info">
        <div class="class-name">
            <img src="{{ url_for('static', filename='icons/book.svg') }}"/>  
            <p>{{ class_data.class_name }}</p>
        </div>
        
        <div class="teacher">
            <img src="{{ url_for('static', filename='icons/user.svg') }}"/>
            <p>{{ class_data.teacher }}</p>
        </div>

        <div class="class-room">
            <img src="{{ url_for('static', filename='icons/box.svg') }}"/> 
            <p>{{ class_data.class_room }}</p>
        </div>

        <div class="grades">
            <img src="{{ url_for('static', filename='icons/award.svg') }}"/>
            <p>A</p>
        </div>
    </div>


    {% if schedule | length < 1 %}
        <p>You don't have a planner, would you like to make one?</p>

    {% else %}
        <p id="class-info-header">
            Class Planner:
        </p>
        <table>
            <caption>{{ class_data.class_name }} Lesson Planner Term 3</caption>

            <thead>
                <tr>
                    <!-- Blank for the side column -->
                    <th>Week</th>

                    {% set first_period = [] %}
                    {% set fake_break = [] %}
                    {% for item in schedule %}
                        {% if fake_break[0] != True %}

                            {% if item.day_of_week != None and item.day_of_week != first_period[0] %}
                                <th>{{ item.day_of_week }}</th>
                            {% else %}
                                {% set _ = fake_break.append(True) %}
                            {% endif %}

                            <!-- First time through -->
                            {% if loop.index == 1 %}
                                {% set _ = first_period.append(item.day_of_week) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for week_number, class_schedule in grouped_schedule.items() %}
                    <tr>
                    <td id="week-row">Week {{ week_number }}</td> 


                    {% for week_class in class_schedule %}
                        <td>
                            <p id="lesson-header">{{ week_class.content_title }}</p>

                            <p>{{ week_class.content|safe if week_class else '' }}</p>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}

                    <!--
                    <td>
                        <p id="lesson-header">Jacaranda Exercise 12.3: Measures of spread</p><br>
                        •	Central tendency ppt and have students do calculations<br>
                        •	PPT The effects of outliers<br>
                        •	Discuss measures of spread<br>
                        •	Calculate range and IQR <br>
                        •	Worked example 5, 8 (see teacher notes)<br>
                        
                        <br>
                        Jacaranda Ex12.3:<br>
                        Questions:<br><br>
                        
                        SF: Q2a-d, Q3, Q9a-b, Q10  <br>
                        
                        CU: Q13<br><br>
                        Lesson notes: 1. Measures of spread - IQR and range (J12.3)
                        
                        
                        
                    </td>
                    <td id="revision-assessment">Revision Time</td>
                    
                    <td id="no-class">Sports Carnival</td> -->

            </tbody>
            
        </table>
    {% endif %} 
    
    <br>
    {% if schedule | length < 1 %}
        <button type="submit" id="add-btn" class="make-planner-btn">Make a new planner</button>
    {% else %}
        <button type="submit" id="add-btn" class="add-to-planner-btn">Add onto planner</button>
    {% endif %} 


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/classes.js') }}"></script>
{% endblock %}