{% extends "base.html" %}

<!-- Importing different css files -->
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/timetable.css') }}">

{% endblock %}


<!-- Adding attributes to pass into javascript -->
{% block attributes %}{% endblock %}

<!-- Modal block -->
{% block more_modals %}

{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Making sure the day they're viewing isn't a weekend day -->
    {% if day_of_week not in ["Saturday", "Sunday"]  %}
        <h1>Today's Timetable ({{ day_of_week }})</h1>

        <table>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Class Name</th>
                    <th>Lesson Topic</th>
                    <th>Lesson Content</th>
                </tr>
            </thead>
            <tbody>
                {% for period, entries in timetable.items() %}
                    {% if period %}
                        <tr>
                            <td style="background-color: #f0f0f0;">
                                <strong>Period: {{ period }}</strong>
                            </td>
                        {% for entry in entries %}
                            <td>{{ entry.class_name }}</td>
                            <td>{{ entry.content_title }}</td>
                            <td>{{ entry.content|safe }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>It's {{ day_of_week }}! You don't have any classes today!</h1>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/timetable.js') }}"></script>
{% endblock %}